@{
    ViewBag.Title = "Contact";
}
 @Styles.Render("~/Content/style.css")
@using (Html.BeginForm()) {
   
      <div id="div1" >
      <h4 id="conh4">CONTACTEME</h4>
        <div id="di1"class="editor-label">
            <label>Nombre</label>
        </div>
        <div id="di2"class="editor-field">
            <input id="inpu1"name="nombre" placeholder="Nombre" />
        </div>
        <div id="di3"class="editor-label">
            <label>Email</label>
        </div>
        <div id="di4"class="editor-field">
            <input id="inpu2"name="email"placeholder="Email"/>
        </div>
          <div id="di5"class="editor-label">
            <label>Contraseña</label>
        </div>
        <div id="di6"class="editor-field">
            <input id="inpu3"type="password" name="contraseña"placeholder="Contraseña"/>
        </div>
          <div id="di7"class="editor-label">
            <label>Asunto</label>
        </div>
        <div id="di8"class="editor-field">
            <input id="inpu"name="asunto"placeholder="Asunto"/>
        </div>
        <div id="di9"class="editor-label">
            <label>Comentario</label>
        </div>
        <div id="di10"class="editor-field">
            <textarea id="text"cols=30 rows=10 name="comentario"> 
             </textarea>
        </div>
           <br />
        <p>
            <button id="myButton">Enviar</button>
        </p>
    </div>
    
    <script type="text/javascript">
        $("#myButton").click(function () {
        $.ajax({
            url: '/Home/Contact',
           // type: "POST",
            data: { },
        })
    });
</script>
}





