@{
    ViewBag.Title = "Home";
}
 <style type="text/css"> 
      #Direccion{ 
                float:right; 
                } 
      #Info{ 
            border-radius: 190px;
	        height: auto;
	        width: auto;
	        margin: 29px 190px 100px 350px;
           }
      #Edu{ 
            border-radius: 190px;
	        height: auto;
	        width: auto;
	        margin: 29px 190px 100px 350px;
           }
       #Exp{ 
            border-radius: 190px;
	        height: auto;
	        width: auto;
	        margin: 29px 190px 100px 350px;
           }
  </style>

  <div align="center" >  <h4> CURRICULUM VITAE</h4 > </div>
  <div id="Direccion"><h6>25mts note del Colegio LAIT Valle Azul,<br/>Valle Azul,San Ramon.<br/>Telefonos:<br/>2475-10-25<br/>8552-41-31</h6></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div align="center" >  <h4> MICHAEL JIMENEZ HERRERA</h4 > <img src="~/Content/themes/base/images/11.jpg" width="180px"  runat="server"/> </div>
       


  <hr align=left|rigth|center size=n  width=n>



  <div>  <h4> INFORMACIÓN PERSONAL:</h4 > </div>
  <div id="Info"> 
    <ul >
        <li><span>Estado Civil: Soltero.</span></li>
        <li><span>Nacionalidad: Costarricense.</span></li>
        <li><span>Edad: 24 años.</span></li>
        <li><span>Lugar de Nacimiento: San Carlos,Alajuela.</span></li>
        <li><span>Fecha de Nacimiento: 11 de marzo de 1989. </span></li>
     </ul>
  </div>


  <hr align=left|rigth|center size=n  width=n>



 <div>  <h4>EDUCACIÓN:</h4 > </div>
  <div id="Edu"> 
    <ul >
        <li><span>2001 Primaria en Escuela Valle Azul.</span></li>
        <li><span>2006 Bachillerato en Colegio LAIT Valle Azul.</span></li>
        <li><span>Estudios Universarios en Administracion de Empresas U San Jose (sin concluir).</span></li>
        <li><span>Actualmente Cursando Bachillerato en Ingenieria del Software en UTN.</span></li>
        <li><span>Otros cursos: <br/>-Aprovechamiento de Labores Agricolas. <br/>-Desarrollo Avanzado de Aplicaciones Android. </span></li>
     </ul>
  </div>



  <hr align=left|rigth|center size=n  width=n>



 <div>  <h4>EXPERIENCIA LABORAL:</h4 > </div>
   <div id="Exp"> 
    <ul >
        <li><span>Labore durante 3 meses para Agricola Pocosol.</span></li>
        <li><span>Labore durante 7 años para Ferretaria Valle Azul.</span></li>
     </ul>
  </div>
  
