@{
    ViewBag.Title = "Recommend";
} 
 @Styles.Render("~/Content/style.css")
 @using (Html.BeginForm()) {
   
        <div id="div" >
        <h4 id="recomh4">HAZ TU COMENTARIO</h4>
        <div id="div2"class="editor-label">
            <label>Nombre:</label>
        </div>
        <div id="div3"class="editor-field">
            <input id="inpu" name="nombre"placeholder="Nombre"/>
        </div>
         <div id="div4"class="editor-label">
            <label>Comentario:</label>
        </div>
        <div id="div5"class="editor-field">
            <textarea id="text"cols=30 rows=10 name="comentario"> 
             </textarea>
        </div>
            <br />
        <p>
            <input id="myButton"type="submit" value="Comentar" />
        </p>
    </div>
}
