@{
    ViewBag.Title = "Recommendations";
}

<h4 align="center">COMENTARIOS</h4>
<div align="center">
    <table>
        <tr>
            <th>Nombre</th>
            <th>Comentarios</th>
            <th>Fecha</th>
        </tr>  
        @foreach (var item in ViewBag.comentarios)
        {                       
            <tr>           
                <td>@item.Nombre</td>
                <td>@item.Cometario</td>
                <td>@item.Fecha</td>          
            </tr>
            
        }
    </table>

</div>